<div class="main-content">
    <div class="container-fluid"> 
      <div>    <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Registrar nuevo adeudo</h4>
                        <p class="card-category">Introduce los datos para el nuevo adeudo para este cliente</p>
                    </div>
                    <div class="card-body">
                       
                            <div class="row">
                              <div class="col-md-6">
                
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Folio" type="text" [(ngModel)]="Adeudo.folio" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6"> 


                                <div class="col-md-6">
                
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Adeudo" type="text" [(ngModel)]="Adeudo.adeudo" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                               
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Pagado" type="text" [(ngModel)]="Adeudo.pagado">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Total" type="text" [(ngModel)]="Adeudo.total" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                               
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Fecha de Facturación" type="date" [(ngModel)]="Adeudo.fecha_factura" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                               
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Fecha Limite" type="date" [(ngModel)]="Adeudo.fecha_limite" required>
                                    </mat-form-field>
                                  </div>

                                  <div class="col-md-6">
                               
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Notas" type="text" [(ngModel)]="Adeudo.notas" required>
                                    </mat-form-field>
                                  </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="postadeudo()">GUARDAR DATOS</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-left"> VOLVER A LA LISTA </button>
                            <div class="clearfix"></div>
                