<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Modificar la información bancaria</h4>
              <p class="card-category">Ingresa la información solicitada</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Banco">
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Cuenta">
                  </mat-form-field>
                </div>
                <div class="cold-md-1">
              <button  class="btn btn-danger pull-right" >Guardar</button>
                </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>