<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-7 bg-light shadow mt-5">
            <div class="row bg-primary text-white rounded-top">
                <div class="col-12">
                    <h3 class="text-center align-middle">Iniciar Sesión</h3>
                </div>
            </div> 
            <div class="row justify-content-center rounded-bottom">
                <div class="col-9">
                    <div class="row mt-5">
                        <div class="col">
                            <input type="text" class="form-control my-3" placeholder="Correo" [(ngModel)]  = "Usuario.correo">
                            <input type="password" class="form-control my-3" placeholder="Contraseña" [(ngModel)]  = "Usuario.pass">
                        </div>
                    </div>
                    <div class="form-check my-3">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Recordar correo
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                      </div>
                    <div class="row justify-content-center">
                        <div class="col-9 text-center">
                            <button type="button" id="btn-login" class="btn btn-primary my-3" (click)="login()">INICIAR SESIÓN</button>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-5">
                        <div class="col text-center">
                            <a class="my-3 link-primary" href="">¿No tienes usuario?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>