<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Modificar el adeudo</h4>
              <p class="card-category">Ingresa la información del adeudo</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="RFC" [(ngModel)]  = "Person.id" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Adeudo" [(ngModel)]  = "Person.name">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Pagado" type="number" [(ngModel)]  = "Person.id">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fecha de la factura" type="date" [(ngModel)]  = "Person.created">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fecha limite de pago" type="date" [(ngModel)]  = "Person.created">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Total" type="number" [(ngModel)]  = "Person.id">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Notas</label>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Ingresa datos adicionales sobre el adeudo" [(ngModel)]  = "Person.origin.url"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button class="btn btn-danger pull-right" >Guardar</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
